# --- Quantum ESPRESSO Temporary Files ---
*.save/
*.tmp/
*.wfc*
*.mix*
*.igk*
*.rho*
*.hub*

# --- Output and Logs ---
*.crash
# --- Project Drafts ---
draft
draft.txt

# --- OS/Environment Junk ---
Thumbs.db
desktop.ini
# These appear because you are using WSL
*.Zone.Identifier

# --- Folder markers ---
# This allows you to push empty folders to GitHub
!*/.gitkeep